{% block ezimage_field %}
    
	{% set imageAlias = ez_image_alias( field, versionInfo, parameters.alias ) %}
    {% set imageClass = ""  %}
    
    {% if attr.class is defined %}
    	{% set imageClass = attr.class %}
    {% endif %}

    {% if imageAlias is defined and imageAlias is not null and imageAlias.uri is defined and imageAlias.uri is not null %}
	    <img src="{{ asset( imageAlias.uri ) }}" data-src="{{ asset( imageAlias.uri ) }}" class="{{ imageClass }}" alt='{% if field.value.alternativeText != "" %}{{ field.value.alternativeText }}{% else %}{{ field.value|replace({'.png': '', '.jpg': ''}) }}{% endif %}' />
    {% endif %}

{% endblock %}