.info_tarifas{
    font-size: 12px;
}

.paragraph_price{
    margin-bottom: 0rem !important;
}

.bg-travel{
    --bs-bg-opacity: 1;
    background-color: #eeeeee !important;
}

.travel-image{
    width: 100%;
    height: 200px;
}

.banner-image{
    width: 100%;
    height: 270px;
}

.accommodation-image{
    width: 100%;
    height: 270px;
}

.btn-travel{
    position: absolute !important;
    bottom: 10px;
}

.guide-image{
    width: 200px;
    height: 200px;
}

.bi{
    vertical-align: -.125em;
    fill: currentColor;
    width: 24px;
    height: 24px;
    font-size: 25px;
}

.text-justify{
    margin: 0;
    text-indent: .5rem;
    text-align: justify;
}