{{ ez_render_field(content, 'image', {
    'template': '@TravelBox/themes/travelbox/fields/image.html.twig',
    'attr': {
        class: 'travel-image mb-3'
    },
    'parameters': {
        'alias': 'original'
    }
}) }}