<footer class="py-2 my-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-twitter bi"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-instagram bi"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-facebook bi"></i></a></li>
    </ul>
    <div class="d-flex justify-content-center">
      <p class="text-muted ml-5">© 2021 TravelBox, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark text-muted" href="#">Términos y condiciones</a></li>
        <li class="ms-3"><a class="link-dark text-muted" href="#">Política de privacidad</a></li>
        <li class="ms-3"><a class="link-dark text-muted" href="#">Política de cookies</a></li>
        {% if menu|length > 0 %}
            {% for itemMenu in menu %}
                <li class="ms-3"><a href="{{ ez_path(itemMenu) }}" class="link-dark text-muted" href="#">{{ ez_content_name(itemMenu) }}</a></li>
            {% endfor %}
        {% endif %}
      </ul>
    </div>
</footer>
  