<nav class="navbar navbar-expand-lg navbar-light bg-travel fixed-top">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="#!">TravelBox</a>
        {{ ez_render_field(content, 'logo') }}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if menu|length > 0 %}
                    {% for itemMenu in menu %}
                        <li class="nav-item"><a href="{{ ez_path(itemMenu) }}" class="nav-link">{{ ez_content_name(itemMenu) }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>