<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TravelBox | {% block title %}Agencia de viajes{% endblock %}</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{{ asset('bundles/travelbox/assets/css/style.css') }}">
    </head>
    <body>
        <!-- Responsive navbar-->
        {% block header %}
            {{ render(controller("App\\TravelBoxBundle\\Controller\\PageController::getHeaderAction")) }}
        {% endblock %}
        
        <!-- Page Content-->
        <section class="pt-4 mt-4">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </section>
        <!-- Footer-->
        {% block footer %}
            {{ render(controller("App\\TravelBoxBundle\\Controller\\PageController::getFooterAction")) }}
        {% endblock %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
