{% extends "@TravelBox/themes/travelbox/layout.html.twig" %}

{% block title %}{{ ez_content_name(content) }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        {% set imagesIds = ez_field_value(content, 'accommodation_images').destinationContentIds %}
        {% if imagesIds %}
            {% for item in imagesIds %}
                <div class="col-4">
                    {{ render(controller("ez_content::viewAction", {"contentId": item, "viewType": "line"})) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <div class="card text-dark bg-light mb-3">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <h2>{{ ez_render_field(content, 'name') }}</h2>
                        <p class="card-text">
                            <small class="text-justify">
                                {{ ez_render_field(content, 'location') }} <br>
                            </small>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-dark bg-light mb-3">
                <div class="card-header">Precio</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="card-text paragraph_price">
                            <small>
                                ${{ ez_render_field(content, 'price') }} <small class="info_tarifas">Incluye impuestos, tasas y cargos</small>
                            </small>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card text-dark bg-light mb-3">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="card-text"><small class="text-justify">{{ ez_render_field(content, 'description') }}</small></p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h3>Ubicación</h3>
            {{ ez_render_field(content, 'map_location', {'parameters': {'width': '100%', 'height': '330px', 'showMap': true, 'showInfo': false}}) }}
        </div>
    </div>
{% endblock %}

