
{% extends "@TravelBox/themes/travelbox/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col">
            {{ ez_render_field(content, 'page') }}
        </div>
    </div>
{% endblock %}
