{% extends "@TravelBox/themes/travelbox/layout.html.twig" %}

{% block title %}{{ ez_content_name(content) }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <div class="card text-dark bg-light mb-3">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <h2>{{ ez_render_field(content, 'title') }}</h2>
                        <p class="card-text">
                            <small class="text-justify">
                                adsasdasd <br>
                            </small>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-dark bg-light mb-3">
                <div class="card-header">Precio</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="card-text paragraph_price">
                            <small>
                                ${{ ez_render_field(content, 'price') }} <small class="info_tarifas">Incluye impuestos, tasas y cargos</small>
                            </small>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card text-dark bg-light mb-3">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="card-text"><small class="text-justify">{{ ez_render_field(content, 'description') }}</small></p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

