{% extends "@TravelBox/themes/travelbox/layout.html.twig" %}

{% block title %}{{ ez_content_name(content) }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        {% set imagesIds = ez_field_value(content, 'image').destinationContentIds %}
        
        {% if imagesIds %}
            {% for item in imagesIds %}
                <div class="col-4">
                    {{ render(controller("ez_content::viewAction", {"contentId": item, "viewType": "line"})) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <div class="card text-dark bg-light mb-3">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <h2>{{ ez_render_field(content, 'title') }}</h2>
                        <p class="card-text">
                            <small class="text-justify">
                                <i class="fas fa-hotel"></i> {{ ez_render_field(content, 'accommodation') }} <br>
                                <i class="fas fa-map-marked-alt"></i> <small>{{ ez_render_field(content, 'destination') }}</small> <br>
                                <i class="fas fa-plane"></i> <small>{{ ez_render_field(content, 'tickets') }}</small>
                            </small>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-dark bg-light mb-3">
                <div class="card-header">Precio final por persona</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="card-text paragraph_price">
                            <small>
                                ${{ ez_render_field(content, 'price') }} <small class="info_tarifas">Incluye impuestos, tasas y cargos</small>
                                {#<div class="info_tarifas">Desde: {{ ez_field_value(content, 'travel_date') }} / Hasta: {{ ez_field_value(content, 'travel_return_date') }}</div>#}
                                <hr>
                                <div class="info_tarifas text-center">Hasta en 36 cuotas</div>
                            </small>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card text-dark bg-light mb-3">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="card-text"><small class="text-justify">{{ ez_render_field(content, 'description') }}</small></p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

