<div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ params.title|replace({' ': '', '.': ''})|capitalize  }}">
        <button class="accordion-button {{ params.open_option == 'close' ? 'collapsed' : ''}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ params.title|replace({' ': '', '.': ''})|capitalize  }}" aria-expanded="{{ params.open_option == 'open' ? 'true' : ''}}" aria-controls="collapse{{ params.title|replace({' ': '', '.': ''})|capitalize  }}">
        {{ params.title }}
        </button>
    </h2>
    <div id="collapse{{ params.title|replace({' ': '', '.': ''})|capitalize  }}" class="accordion-collapse collapse {{ params.open_option == 'open' ? 'show' : 'collapsed'}}" aria-labelledby="{{ params.title|replace({' ': '', '.': ''})|capitalize  }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {{ content|raw }}
        </div>
    </div>
</div>