
<div class="ez-factbox bg-{{ params.style }}">
    <h3>{{ params.title }}</h3>
    <div class="row">
        <div class="accordion col-6 {{ params.width }}" id="accordionExample">
            {{ content|raw }}
        </div>
    </div>
</div>
