<div class="row landing-page__zones">
    <div class="landing-page__zone landing-page__zone--{{ zones[0].id }} col-12" data-ez-zone-id="{{ zones[0].id }}">
        {% if zones[0].blocks %}
            {% set locationId = parameters.location is not null ? parameters.location.id : contentInfo.mainLocationId %}

            {% for block in zones[0].blocks %}
                <div class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                    {{ render_esi(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                        'locationId': locationId,
                        'contentId': contentInfo.id,
                        'blockId': block.id,
                        'versionNo': versionInfo.versionNo,
                        'languageCode': field.languageCode
                    })) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="landing-page__zone landing-page__zone--{{ zones[1].id }} col-12" data-ez-zone-id="{{ zones[1].id }}">
        {% if zones[1].blocks %}
            {% set locationId = parameters.location is not null ? parameters.location.id : contentInfo.mainLocationId %}

            {% for block in zones[1].blocks %}
                <div class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                    {{ render_esi(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                        'locationId': locationId,
                        'contentId': contentInfo.id,
                        'blockId': block.id,
                        'versionNo': versionInfo.versionNo,
                        'languageCode': field.languageCode
                    })) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="container"> 
    <div class="row landing-page__zones">
        <div class="landing-page__zone landing-page__zone--{{ zones[2].id }} mb-4 col-12" data-ez-zone-id="{{ zones[2].id }}">
            {% if zones[2].blocks %}
                {% set locationId = parameters.location is not null ? parameters.location.id : contentInfo.mainLocationId %}

                {% for block in zones[2].blocks %}
                    <div class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                        {{ render_esi(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                            'locationId': locationId,
                            'contentId': contentInfo.id,
                            'blockId': block.id,
                            'versionNo': versionInfo.versionNo,
                            'languageCode': field.languageCode
                        })) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="landing-page__zone landing-page__zone--{{ zones[3].id }} col-12 col-sm-6 col-md-3 col-lg-3" data-ez-zone-id="{{ zones[3].id }}">
            {% if zones[3].blocks %}
                {% set locationId = parameters.location is not null ? parameters.location.id : contentInfo.mainLocationId %}

                {% for block in zones[3].blocks %}
                    <div class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                        {{ render_esi(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                            'locationId': locationId,
                            'contentId': contentInfo.id,
                            'blockId': block.id,
                            'versionNo': versionInfo.versionNo,
                            'languageCode': field.languageCode
                        })) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="landing-page__zone landing-page__zone--{{ zones[4].id }} col-12 col-sm-6 col-md-3 col-lg-3" data-ez-zone-id="{{ zones[4].id }}">
            {% if zones[4].blocks %}
                {% set locationId = parameters.location is not null ? parameters.location.id : contentInfo.mainLocationId %}

                {% for block in zones[4].blocks %}
                    <div class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                        {{ render_esi(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                            'locationId': locationId,
                            'contentId': contentInfo.id,
                            'blockId': block.id,
                            'versionNo': versionInfo.versionNo,
                            'languageCode': field.languageCode
                        })) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="landing-page__zone landing-page__zone--{{ zones[5].id }} col-12 col-sm-6 col-md-3 col-lg-3" data-ez-zone-id="{{ zones[5].id }}">
            {% if zones[5].blocks %}
                {% set locationId = parameters.location is not null ? parameters.location.id : contentInfo.mainLocationId %}

                {% for block in zones[5].blocks %}
                    <div class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                        {{ render_esi(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                            'locationId': locationId,
                            'contentId': contentInfo.id,
                            'blockId': block.id,
                            'versionNo': versionInfo.versionNo,
                            'languageCode': field.languageCode
                        })) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="landing-page__zone landing-page__zone--{{ zones[6].id }} col-12 col-sm-6 col-md-3 col-lg-3" data-ez-zone-id="{{ zones[6].id }}">
            {% if zones[6].blocks %}
                {% set locationId = parameters.location is not null ? parameters.location.id : contentInfo.mainLocationId %}

                {% for block in zones[6].blocks %}
                    <div class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                        {{ render_esi(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                            'locationId': locationId,
                            'contentId': contentInfo.id,
                            'blockId': block.id,
                            'versionNo': versionInfo.versionNo,
                            'languageCode': field.languageCode
                        })) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="landing-page__zone landing-page__zone--{{ zones[7].id }} col-12" data-ez-zone-id="{{ zones[7].id }}">
            {% if zones[7].blocks %}
                {% set locationId = parameters.location is not null ? parameters.location.id : contentInfo.mainLocationId %}

                {% for block in zones[7].blocks %}
                    <div class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                        {{ render_esi(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                            'locationId': locationId,
                            'contentId': contentInfo.id,
                            'blockId': block.id,
                            'versionNo': versionInfo.versionNo,
                            'languageCode': field.languageCode
                        })) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>