<div class="container">
    <div class="row">
        {% for item in accommodations_list %}
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% set loc_image = ez_field_value(item, 'accommodation_images') %}
                            {{ ez_render_field(accommodations_list_images[loc_image.destinationContentIds[0]], 'image', {
                                'template': '@TravelBox/themes/travelbox/fields/image.html.twig',
                                'attr': {
                                    class: 'accommodation-image'
                                },
                                'parameters': {
                                    'alias': 'original'
                                }
                            }) }}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body ml-4">
                                <h2 class="card-title">{{ ez_render_field(item, 'name') }}</h2>
                                <h6><small>{{ ez_render_field(item, 'location') }}</small></h6>
                                <p class="card-text"><h5>Precio ${{ ez_render_field(item, 'price') }}</h5> <small class="info_tarifas">Incluye impuestos, tasas y cargos</small></p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a href="{{ ez_path(item) }}" class="btn btn-outline-success me-md-2 btn-travel" type="button">Conoce más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>