<div class="row">
    <div class="col-4">
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingStart" placeholder="Seleccione un origen">
                        <label for="floatingStart">Origen</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingDestination" placeholder="Seleccione un destino">
                        <label for="floatingDestination">Destino</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="date" class="form-control" id="floatingDateGo" placeholder="Seleccione fecha de ida">
                        <label for="floatingDateGo">Fecha de ida</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="date" class="form-control" id="floatingDateReturn" placeholder="Seleccione fecha de vuelta">
                        <label for="floatingDateReturn">Fecha de vuelta</label>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-success" type="button">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    <div class="col-8">
        {% for item in list_tourist_package %}
            <div class="col">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% set loc_image = ez_field_value(item, 'image') %}
                            {{ ez_render_field(list_tourist_package_images[loc_image.destinationContentIds[0]], 'image', {
                                'template': '@TravelBox/themes/travelbox/fields/image.html.twig',
                                'attr': {
                                    class: 'travel-image'
                                },
                                'parameters': {
                                    'alias': 'original'
                                }
                            }) }}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body ml-4">
                                <h5 class="card-title">{{ ez_render_field(item, 'title') }}</h5>
                                <p class="card-text">
                                    {{ ez_render_field(item, 'accommodation') }} - {{ ez_render_field(item, 'tickets') }} <br>
                                    <small>{{ ez_render_field(item, 'destination') }}</small>
                                </p>
                                <p class="card-text"><h5>${{ ez_render_field(item, 'price') }}</h5> <small class="info_tarifas">Incluye impuestos, tasas y cargos</small></p>
                                
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a href="{{ ez_path(item) }}" class="btn btn-outline-success me-md-2 btn-travel" type="button">Seleccionar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>