<div class="container">
    <div class="row mt-5 mb-4">
        {% for item in banner_content_pro %}
            {% if banner_content_pro[0] == item %}
                <div class="col-6">
                    {{ ez_render_field(item, 'image', {
                        'template': '@TravelBox/themes/travelbox/fields/image.html.twig',
                        'attr': {
                            class: 'banner-image'
                        },
                        'parameters': {
                            'alias': 'original'
                        }
                    }) }}
                </div>
            {% else %}
                <div class="col-3">
                    {{ ez_render_field(item, 'image', {
                        'template': '@TravelBox/themes/travelbox/fields/image.html.twig',
                        'attr': {
                            class: 'banner-image'
                        },
                        'parameters': {
                            'alias': 'original'
                        }
                    }) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>