<div class="row">   
    <div class="col-12">
        <div class="list-group">
            {% for item in tickets_list %}
                <a href="{{ ez_path(item) }}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ ez_render_field(item, 'title') }}</h5>
                    <small>Precio ${{ ez_render_field(item, 'price') }} <br> <i class="fas fa-plane"></i>{{ ez_render_field(item, 'airline') }}</small>
                    </div>
                    <p class="mb-1">
                        <h6>{{ ez_render_field(item, 'origen') }} - {{ ez_render_field(item, 'destination') }}</h6>
                        <div>
                            <i class="fas fa-plane-departure"></i>
                            {{ ez_render_field(item, 'leave_hour', {
                                'template': '@TravelBox/themes/travelbox/fields/datetime.html.twig'
                            }) }}
                            |
                            <i class="fas fa-plane-arrival"></i>
                            {{ ez_render_field(item, 'arrived_hour', {
                                'template': '@TravelBox/themes/travelbox/fields/datetime.html.twig'
                            }) }}
                        </div>
                        Escalas: {{ ez_render_field(item, 'scales') }}
                    </p>
                    <small class="text-center">{{ ez_render_field(item, 'description') }}</small>
                </a>
            {% endfor %}
        </div>
    </div>
</div>