<div class="card">
    {{ ez_render_field(image, 'image', {
        'template': '@TravelBox/themes/travelbox/fields/image.html.twig',
        'attr': {
            class: 'travel-image'
        },
        'parameters': {
            'alias': 'original'
        }
    }) }}
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">
            {{ destination }} - {{ days }} Días y {{ days - 1}} Noches
            <hr>
            Precio por persona desde
            <h5>${{ price }}</h5>
        </p>
    </div>
</div>