<div class="row">
    {% for item in tourist_guides_content_pro %}
        <div class="col-4">
            <div class="text-center">
                {{ ez_render_field(item, 'guide_photo', {
                    'template': '@TravelBox/themes/travelbox/fields/image.html.twig',
                    'attr': {
                        class: 'guide-image bd-placeholder-img rounded-circle '
                    },
                    'parameters': {
                        'alias': 'original'
                    }
                }) }}
            </div>
            <h2 class="text-center">{{ ez_render_field(item, 'name') }}</h2>
            
            <div class="text-center">
                <small>
                    <i class="fas fa-phone"></i> {{ ez_render_field(item, 'number_contact') }} |    
                    <i class="fas fa-flag"></i> {{ ez_render_field(item, 'country', {
                        'template': '@TravelBox/themes/travelbox/fields/country.html.twig'
                    }) }}
                    - 
                    {{ ez_render_field(item, 'city') }}
                </small>
            </div>
            
            {{ ez_render_field(item, 'description', {
                'attr': {
                    class: 'text-justify'
                }
            }) }}
        </div>
    {% endfor %}
</div>

